html,body{
    background-color: #1d1d1d;
    overflow-y: hidden;
}
h1.leader {
    padding-left: 2em;
}

.tabcontrol .tabs li a {
    background: #343434;
    color: #666;
}
#game-wrap {
    display: none;
}
#game {
    background: #969696;
}

canvas#info {
    display: none;
}